@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
  color: var(--artwork-major-blue-ecume) !important;
}

/* DSFR */
.fr-accordion {
  z-index: 10;
}

.fr-alert {
  z-index: 99;
}

.fr-btn--sm[target='_blank']::after {
  display: none;
}

.fr-checkbox-group {
  user-select: none;
}

.fr-header {
  z-index: 98;
}

.fr-tile__title a::after {
  color: var(--background-action-high-blue-france);
  height: 24px;
  width: 24px;
}

/* Since corePlugins: { preflight: false }, borders are not applied by default */
.border-blue {
  border: 1px solid var(--background-action-high-blue-france);
}

.border-bottom-grey {
  border-bottom: 1px solid var(--border-default-grey);
}

.border-bottom-grey-large {
  border-bottom: 4px solid var(--border-contrast-grey);
}

.border-left-grey {
  border-left: 1px solid var(--border-default-grey);
}

.border-right-grey {
  border-right: 1px solid var(--border-default-grey);
}

.border-top-grey {
  border-top: 1px solid var(--border-default-grey);
}

.border-grey {
  border: 1px solid var(--border-disabled-grey);
}

.border-open-blue {
  border: 1px solid var(--border-open-blue-france);
}

.border-shadow {
  box-shadow: 0px 2px 6px 0px #00001229;
}

/* Icons missing in DSFR (https://www.systeme-de-design.gouv.fr/fondamentaux/icone) */
/* Arrows */
.fr-icon-arrow-right-circle-fill::after,
.fr-icon-arrow-right-circle-fill::before {
  mask-image: url('../../public/svg/arrows/arrow-right-circle-fill.svg');
  -webkit-mask-image: url('../../public/svg/arrows/arrow-right-circle-fill.svg');
}

/* Buildings */
.fr-icon-home-4-fill::after,
.fr-icon-home-4-fill::before {
  mask-image: url('../../public/svg/buildings/home-4-fill.svg');
  -webkit-mask-image: url('../../public/svg/buildings/home-4-fill.svg');
}

/* Business */
.fr-icon-customer-service-fill::after,
.fr-icon-customer-service-fill::before {
  mask-image: url('../../public/svg/business/customer-service-fill.svg');
  -webkit-mask-image: url('../../public/svg/business/customer-service-fill.svg');
}

.fr-icon-shake-hands-fill::after,
.fr-icon-shake-hands-fill::before {
  mask-image: url('../../public/svg/business/shake-hands-fill.svg');
  -webkit-mask-image: url('../../public/svg/business/shake-hands-fill.svg');
}

/* Device */
.fr-icon-restart-line::after,
.fr-icon-restart-line::before {
  mask-image: url('../../public/svg/device/restart-line.svg');
  -webkit-mask-image: url('../../public/svg/device/restart-line.svg');
}

/* Design */
.fr-icon-compasses-2-fill::after,
.fr-icon-compasses-2-fill::before {
  mask-image: url('../../public/svg/design/compasses-2-fill.svg');
  -webkit-mask-image: url('../../public/svg/design/compasses-2-fill.svg');
}

.fr-icon-edit-circle-line::after,
.fr-icon-edit-circle-line::before {
  mask-image: url('../../public/svg/design/edit-circle-line.svg');
  -webkit-mask-image: url('../../public/svg/design/edit-circle-line.svg');
}

.fr-icon-tools-fill::after,
.fr-icon-tools-fill::before {
  mask-image: url('../../public/svg/design/tools-fill.svg');
  -webkit-mask-image: url('../../public/svg/design/tools-fill.svg');
}

/* System */
.fr-icon-share-box-line::after,
.fr-icon-share-box-line::before {
  mask-image: url('../../public/svg/system/share-box-line.svg');
  -webkit-mask-image: url('../../public/svg/system/share-box-line.svg');
}

@media (max-width: 767px) {
  .fr-tile__title a::after {
    height: 16px;
    width: 16px;
  }
}
