.fr-card {
  flex: 0;
  height: 100%;
  max-width: 282px;
}

.fr-card__desc {
  max-width: 202px;
}

.fr-card__title a[href] span {
  color: var(--text-default-grey);
}

.fr-responsive-img {
  display: block;
  height: 80px;
  object-fit: contain;
  object-position: left;
  width: 100%;
}
